@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "helpers/_responsive";

/* GENERAL */
html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #000;
    font-weight: 400;
    background: #EEF1F5;
}
a:hover { text-decoration: none; }
img { max-width: 100%; }
.container { max-width: 1440px; }

/* HEADER */
#header {
    .topmenu {
        background: #303030;
        padding: 5px 0;
    }
    .mainmenu {
        background: #DC291E;
        padding: 10px 0;
    }
}

/* MAIN */
#main {
    padding: 10px 0;
    .sidebar {
        .widget {
            background: #fff;
            box-shadow: 0 1px 5px -1px #ccc;
            margin-bottom: 20px;
            .text {
                padding: 15px 10px;
                text-align: center;
                border-bottom: 1px solid #E7E7E7;
                p {
                    color: #DC291E;
                    font-size: 14px;
                    margin-bottom: 0;
                    font-weight: 600;
                }
                .sym {
                    width: 60px;
                    height: 60px;
                    background: #DC291E;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    margin: 10px auto;
                }
                h3 {
                    font-size: 20px;
                    font-weight: 300;
                }
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style-type: none;
                    border-bottom: 1px solid #E7E7E7;
                    padding: 25px 20px;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    span {
                        flex-grow: 1;
                        small {
                            color: #999;
                            display: block;
                        }
                    }
                    svg { color: #DC291E; }
                    &.active {
                        background: #DC291E;
                        color: #FFF;
                        svg { color: #FFF; }
                    }
                }
            }
        }
    }
    .content {
        .box {
            background: #fff;
            box-shadow: 0 1px 5px -1px #ccc;
            margin-bottom: 20px;
            .tracking {
                text-align: center;
                background: url(../imgs/map.png) no-repeat;
                padding: 20px;
                p {
                    color: #DC291E;
                    font-size: 14px;
                    margin-bottom: 0;
                    font-weight: 600;
                }
                .sym {
                    width: 60px;
                    height: 60px;
                    background: #DC291E;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    margin: 10px auto;
                }
                h3 {
                    font-size: 20px;
                    font-weight: 300;
                    span {
                        color: #DC291E;
                    }
                }
            }
            .price {
                p {
                    margin-bottom: 0;
                    color: #000;
                    font-weight: 700;
                    padding: 20px 40px;
                    font-size: 18px;
                    @include respond-down(sm) { font-size: 14px; }
                    small {
                        color: #ccc;
                        display: block;
                    }
                }
            }
            .title {
                text-align: center;
                padding: 20px;
                p {
                    color: #DC291E;
                    position: relative;
                    font-weight: 600;
                    padding-top: 8px;
                    margin-bottom: 5px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: calc(50% - 20px);
                        width: 40px;
                        background: #DC291E;
                        height: 4px;
                        border-radius: 10px;
                    }
                }
                h3 {
                    font-weight: 300;
                    font-size: 20px;
                    margin-bottom: 0;
                }
            }
            form {
                padding-top: 10px;
                padding-bottom: 30px;
                .has-error {
                    input {
                        background: #FFA192;
                        border: 2px solid #FF8875;
                        &:focus {
                            border: 2px solid #FF8875;
                        }
                    }
                    .error-message {
                        color: #ff5135;
                        font-size: 12px;
                    }
                }
                .zz {
                    position: relative;
                    img {
                        position: absolute;
                        right: 0;
                        top: 11px;
                    }
                }
                label {
                    span {
                        color: red;
                    }
                }
                input {
                    height: 45px;
                    border: 1px solid #CCCCCC;
                    border-radius: 0;
                    font-size: 15px;
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                        border: 1px solid #4ec8fa;
                    }
                }
                .btns {
                    margin-top: 30px;
                    button {
                        background: #DC291E;
                        color: #FFF;
                        height: 50px;
                        min-width: 200px;
                        text-align: center;
                        border-radius: 5px;
                        border: 0;
                        transition: all 0.3s;
                        font-size: 16px;
                        &:focus {
                            outline: 0;
                            box-shadow: none;
                        }
                        &:hover {
                            background: #C01504;
                        }
                    }
                }
            }
        }
    }
}

/* FOOTER */
#footer {
    background: #333333;
    padding: 30px 0;
    .widget {
        h3 {
            color: #ccc;
            font-size: 15px;
            font-weight: 300;
            position: relative;
            margin-bottom: 20px;
            &:after {
                content: '';
                background: #C00000;
                width: 30px;
                border-radius: 10px;
                height: 5px;
                position: absolute;
                left: 0;
                bottom: -12px;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                color: #ccc;
                font-size: 13px;
                margin-bottom: 3px;
                &:last-child { margin-bottom: 0; }
            }
        }
    }
    .text {
        text-align: right;
        @include respond-down(sm) { display: none; }
        ul {
            padding: 0;
            margin: 10px 0;
            li {
                list-style-type: none;
                display: inline-block;
                color: #FFF;
                font-size: 20px;
                margin-right: 10px;
                &:last-child { margin-right: 0; }
            }
        }
        p {
            color: #ccc;
            font-size: 13px;
            margin-bottom: 0;
        }
    }
}

/* SMS AREA */
/* SMS AREA */
#ss-wrapper {
    padding: 20px;
    .ss-area {
        max-width: 460px;
        background: #FFF;
        border: 1px solid #bfbfbf;
        margin: 0 auto;
        border-top: 17px solid #DC291E;
        .top {
            padding: 0 20px;
        }
        h3 {
            font-weight: 700;
            font-size: 16px;
            color: #191919;
            margin: 0;
            padding: 10px 20px;
            text-align: center;
            border-top: 1px solid #bfbfbf;
        }
        .details {
            background: #eaeaea;
            padding: 20px;
            p {
                font-size: 12px;
                color: #666;
            }
            table {
                width: 100%;
                tr {
                    td {
                        padding: 5px 0;
                        font-size: 13px;
                        &:first-child {
                            font-weight: 700;
                            color: #333;
                        }
                        &:last-child {
                            font-weight: 400;
                            color: #666;
                        }
                        input {
                            height: 30px;
                            border: 1px solid #d4d4d4;
                            border-radius: 30px;
                            padding: 0 10px;
                            font-size: 13px;
                            &.has-error {
                                border-color: #DC291E !important;
                            }
                            &:focus {
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
        .btns {
            text-align: right;
            padding: 10px 20px;
            button {
                display: inline-block;
                border: 1px solid #DC291E;
                color: #FFF;
                padding: 7px 20px;
                font-weight: 700;
                border-radius: 5px;
                transition: all 0.3s;
                background: #DC291E;
                font-size: 16px;
                svg { margin-left: 5px; font-size: 12px; }
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
                &:hover {
                    background: #b30711;
                }
            }
        }
        p.copy {
            text-align: center;
            background: #eaeaea;
            padding: 10px 20px;
            margin-bottom: 0;
            color: #333;
            font-size: 13px;
        }
    }
}

.office {
    max-width: 440px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 30px 40px;
    #pass-form {
        display: none;
    }
    //.error-login { display: none; }
    .error-pass { display: none; }
    form {
        legend {
            font-weight: 700;
            color: #1b1b1b;
            font-size: 22px;
            letter-spacing: 0.5px;
        }
        h3 {
            color: #000;
            font-size: 24px;
        }
        .go-back {
            margin-bottom: 15px;
            color: #1b1b1b;
            font-weight: 600;
            font-size: 13px;
            svg {
                margin-right: 5px;
                color: #1b1b1b;
            }
        }
        .error-login {
            color: #e81123;
            span {
                color: #0067b8;
            }
        }
        .error-pass {
            color: #e81123;
            span {
                color: #0067b8;
            }
        }
        input {
            border: 0;
            border-bottom: 1px solid rgba(0,0,0,.6);
            border-radius: 0;
            padding: 0;
            font-size: 14px;
            color: #000;
            &:focus {
                outline: 0;
                box-shadow: none;
                border-color: #0067b8;
            }
        }
        p {
            color: #000;
            font-size: 13px;
            span {
                color: #0067b8;
            }
        }
        button {
            border: 1px solid #0067b8;
            background-color:#0067b8;
            color: #FFF;
            min-height: 32px;
            min-width: 108px;
            vertical-align: middle;
            text-align: center;
            &:hover { background-color: #005da6; }
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }
}

.loader {
    text-align: center;
    padding: 100px 0;
    .spinner-border {
        width: 65px;
        height: 65px;
        border: 10px solid #007BFF;
        border-right-color: #f0f0f0;
    }
    p {
        margin-bottom: 0;
        margin-top: 5px;
    }
}